@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;

}

p{
    display: inline-block;
    height: 80px;
    width: 150px;
    padding: 10px;
    border: 7px solid pink;
    background-color: rgb(161, 126, 161);
    font-size: larger;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin: 0px 10px;
}