@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;

}
.body{
    height:100vh;
    width:100%;
    box-sizing:border-box;
}

.d-flex{
    display: flex;
}

.container{
    width: 1500px;
}

.justify-content-center {
    justify-content:center;
}

.justify-content-start {
    justify-content:start;
}
.justify-content-end {
    justify-content:end;
}
.justify-content-around {
    justify-content:space-around;
}

.justify-content-between {
    justify-content:space-between;
}
.justify-content-evenly {
    justify-content:space-evenly;
}
.align-items-center{
    align-items: center;
}
.top-header{
    background-color: rgb(45, 45, 118);
    color: white;
    padding: 10px;
}
.right-header{
    margin: 10px;
    
}
.right-menu{
    margin-right: 10px;
    font-size: larger;
}
.right-menu-img{
    height: 25px;
    width: 25px;
    border-radius: 50px;
}
.right-box{
    width: 70%;
    background-color: rgb(248, 248, 248);
    height: 640px;
    margin: 10px;
    border-radius: 10px;
}
.left-box{
    width: 30%;
    background-color: rgb(255, 255, 255);
    height: 600px;
    margin: 10px;
    border-radius: 10px;
}
.center-box{
    margin-top: 30px;
    
}
.left-box-menu{
    margin-left: 20px;
    margin-top: 30px;
    font-size: larger;
}
.left-box-menu span{
    color: gray;
    font-size: 20px;
}
.bg{
    background-color: rgb(230, 230, 246);
    height: 1200px;
}
.left-box-menu i {
    font-size: 30px;
    color: gray;
}
.left-box-menu-top{
    font-size: 30px;
    color: blue;
    margin-left: 20px;
    margin-top: 30px;
    
    border-radius: 20px;
}
.left-box span{
    margin-left: 10px;
    color: grey;
}
.left-box-menu-top span{
    color:blue;
}
.left-box-menu-end{
    color: gray;
    margin-top: 50%;
    margin-left: 20px;
}
.right-top{
    margin: 20px 20px;
}
.right-top-right{
    font-size: 25px;
    font-weight: 700;
}
.right-top-right i{
    color: rgb(210, 124, 26);
    font-size: 30px;
}
.right-top-right span{
    color: blue;
}
.right-top-left{
    color: gray;
    font-size: 20px;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.span-one{
    margin-left: 10px;
}
.first-pfp{
    margin-left: 20px;
    margin-top: 28px;
}
.hr{
    margin-top: 30px;
}
.center-heading i{
    color: rgb(210, 124, 26);
    font-size: 30px;
}
.center-heading span{
    color: blue;
    font-size: 25px;
    font-weight: 700;
}
.center-heading{
    padding: 20px;
}
.center-box-1{
    height: 130px;
    width: 150px;
    background-color: rgb(166, 166, 255);
    border-radius: 5px;
    margin-left: 15px;
    
}
.center-box-text h3,
.center-box-text p{
    color: gray;
    margin-left: 10px;
    font-weight: 450;
    padding: 5px;
    
}
.center-box-text span{
    color: blue;
    
}
.end{
    background-color: rgb(247, 247, 247);
    height: 450px;
    margin-top: 50px;
    border-radius: 10px;
}
.what{
    color: gray;
    border-radius: 30px;
    border: 1px solid gray;
    width: 85%;
    height: 50px;
    margin-left: 10px;

}
.search{
    color: white;
    background-color: blue;
    border-radius: 40px;
    width: 18%;
    height: 50px;
    margin-left: 10px;
    font-size: 21px;
}
.end-two{
    margin-top: 10px;
}
.what p{
    margin-left: 10px;
}
.end-boxs{
    height: 160px;
    width: 260px;
    background-color: rgb(22, 18, 87);
    border-radius: 9px;
}
.end-end span{
    color: blue;
    
}
.end-end h3{
    font-weight: 600;
    color: gray;
}
.end-end{
    margin: 30px;
}